<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
<link rel="stylesheet" href="css/users.css">
</head>
<body>
    <a href="user/new">Create New Users</a>
    <% for(let user of users){ %>
       <div class="box">
            <h2><%= user.username %></h2>
            <p><%= user.city %></p>
            <a href="/users/<%=user.id%>">Show</a>
            <a href="/users/<%=user.id%>/edit">Edit</a>
        </div> 
    <% } %>
</body>
</html>